<div class="5grid-layout">		
	<!-- Page Content -->
	<div id="page" class="row">
		<!-- Sidebar Area -->
		<div id="sidebar" class="4u">
			<!-- Sidebar Section 1 -->
			<section id="box1">
				<!-- Two Column Content Area -->

						<!--   <div class="6u">
							<section>-->
								<h2>Usuarios:</h2>
									<ul class="style4">
									<li><h3><a href='<?php echo $this->url(
										array(
												'controller' => 'user',
												'action'     => 'add'
											), 'default', true) ?>'>
											Registrar nuevo</a></h3>
									</li>
									</ul>
								<!--  </section>
							 </div>-->

				</section>
			</div>				
<!-- Content Area -->
	<div class="8u mobileUI-main-content">
			<table  aling="center">
				<tr>
					<th><h2>Usuario</h2></th>
					<th><h2>Contrase&ntilde;a</h2></th>
					<th><h2>Rol</h2></th>
					<th>&nbsp;</th>
				</tr>
	<?php 
		foreach($this->dataList as $user)
		{
	?>
		<tr>
			<td><?php echo $user->getUsername(); ?></td>
			<td>****</td>
			<td><?php echo $user->getRol(); ?></td>
			<td>
				<a href='<?php echo $this->url(
					array(
						'controller' => 'user',
						'action'     => 'view',
						'id'     	 => $user->getId(),
					), 'default', true) ?>'>Ver detalle</a>
				<a href='<?php echo $this->url(
					array(
						'controller' => 'user',
						'action'     => 'modify',
						'id'     => $user->getId(),
					), 'default', true) ?>'>Modificar</a>
				<a href='<?php echo $this->url(
					array(
						'controller' => 'user',
						'action'     => 'remove',
						'id'     => $user->getId(),
					), 'default', true) ?>'>Eliminar</a>
			</td>
		</tr>
	<?php
		} // End foreach
	?>
	
</table>
	<?php
		echo $this->htmlPaginator;
	?>

					
		</div>

	</div>

</div>
