<h1>Modificar usuario:</h1>

<a href='<?php echo $this->url(
					array(
						'controller' => 'user',
						'action'     => 'index'
					), 'default', true) ?>'>Listado de usuarios</a>

<div>
		<p><?php echo $this->message; ?></p>
</div>
<?php echo $this->form; ?>